@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
*{font-family: 'Noto Sans KR', sans-serif;}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #6c757d !important;
}
i {color: black;}
i:hover {color: #fce233 !important; transition: all 0.25s;}

.fa-star {
    text-decoration: none;
    color: black;
}
.fa-star:hover {
    color: white;
    background-color: #fce233 !important; transition: all 0.25s;
}

@media (min-width: 992px) {
    .container {
        width: 940px;
        top: 300px;
    }
}
.container {
    margin-top:50px;
    border-radius: 25px;
    padding: 100px 25px;
}
.img-thumbnail {
    padding: 0.25rem;
    background-color: #f8f9fa;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
    max-width: 65px;
    height: auto;
}
.content {
    width: 100%;
    border: none;
    background-color: #f8f9fa;
    padding : 15px;
    border-radius: 25px;
}
.content:hover {
    transition : 0.5s;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}
.divide-line {
    margin: 50px 0px;
}
.comment-info-img {
    width: 45px;
    height: 45px;
    background-color: #f8f9fa;
}
.input-form {
    margin-top:150px;
}
.challenge-btn-box {
    position: relative;
}
.reply-badge {
    cursor: none;
    border: none;
    background-color: #fff;
}
.container-reply {
    max-width: 90%;
    display: flex!important;
    flex-direction: column;
    align-items: center;
}
.final {
    -webkit-box-shadow: 1px 1.5px 15px 1px rgba(0,0,0,0.17);
    box-shadow: 1px 1.5px 15px 1px rgba(0,0,0,0.17);
    border-radius: 25px;
    background-color: #f8f9fa;
    margin-bottom: 12px;
}
.hidden {
    display: none;
}
.info-box {
    display: flex;
    align-items: center;
}
.comment-box {
    max-width: 55rem;
    display: flex;
    align-items: center;
}
.comment-read-content {
    max-width: 55rem;
}
.comment-written-content {
    max-width: 55rem;
}
.feed {
    cursor: pointer;
}
