<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:,">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <title>관리자 페이지</title>
</head>
<body>
<!-- 네비게이션 바 start -->
<nav class="bg-transparent navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand fs-4 fw-bold me-auto" href="/">밖에서 오늘 뭐하지?</a>
            <div class="d-none d-lg-block d-xl-block d-xxl-block px-5 position-absolute start-40" id="welcome"><span class="fw-bold" id="username" th:text="${username}"></span> 님 접속을 환영합니다.</div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold position-absolute start-85">
                <li class="nav-item"><a class="nav-link active" href="/post/new-post" id="newpost-btn">글작성</a></li>
                <li class="nav-item"><a class="nav-link active none" onclick="updatePost()" id="update-btn" >수정</a></li>
                <li class="nav-item"><a class="nav-link active none" onclick="deletePost()" id="delete-btn" >삭제</a></li>
                <li class="nav-item"><a class="nav-link active" href="/api/mypage" id="myPage-btn">My page</a></li>
                <li class="nav-item"><a class="nav-link active none" href="/api/user/login" id="login-btn">Login</a></li>
                <li class="nav-item"><a class="nav-link active" href="/" id="logout-btn">Logout</a></li>
                <li class="nav-item"><a class="nav-link active none" href="/api/user/signup" id="signup-btn">Signup</a></li>
                <li class="nav-item"><a class="nav-link active text-warning" href="/admin" id="admin-btn">Admin</a></li>
                <li class="nav-item"><a class="nav-link active text-warning" id="userInfo-btn" onclick="userInfo()">전체 유저 조회</a></li>
                <li class="nav-item"><a class="nav-link active text-warning" id="all-post-btn" onclick="postInfo()">전체 게시글 조회</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class = "row">
    <div class="col-1"></div>
    <div class="col-10 none" id="user-box">
        <div>
            <div class="row">
                <div class="col-2" style="border-bottom: solid gray 1px">
                    <img src="../static/images/img.png" style="width: 100%; height: 100%">
                </div>
                <div class="col-8" style="border-bottom: solid gray 1px">
                    <ol style="font-size: 20px">user-role : ${userRole}</ol>
                    <ol style="font-size: 20px">username : ${username}</ol>
                    <ol style="font-size: 20px">email : ${email}</ol>
                    <ol style="font-size: 20px">introduction : ${introduction}</ol>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-dark" id="user-edit-btn" onclick="openEditBox()">유저 프로필 수정</button>
                    <button type="submit" class="btn btn-dark m-0" id="user-delete-btn">유저 삭제</button>
                </div>
            </div>
            <div id = "edit-box" style="margin-top: 10px; display: none">
                <div>
                    <input type="email" class="form-control" id="edit-email" placeholder="수정할 Email을 입력해주세요." name = email required/>
                </div>
                <div style="margin-top: 10px">
                    <input type="text" class="form-control" id="edit-introduction" placeholder="수정할 Introduction을 입력해주세요." name = introduction required/>
                </div>
                <div style="float: right; margin-top: 5px">
                    <button type="submit" class="btn btn-dark" id="edit-user-role-admin-btn">ADMIN으로 바꾸기</button>
                    <button type="submit" class="btn btn-dark" id="edit-user-role-user-btn">USER로 바꾸기</button>
                    <button type="submit" class="btn btn-dark" id="edit-submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-10" id="post-box" style="border: solid gray 1px; margin-top: 30px; border-radius: 10px; padding: 0px 30px 30px 30px; display: none">
        <div>
            <div class="row">
                <div class="col-2" style="border-bottom: solid gray 1px">
                    <img src="../static/images/img.png" style="width: 100%; height: 100%">
                </div>
                <div class="col-8" style="border-bottom: solid gray 1px">
                    <ol style="font-size: 20px">username : ${username}</ol>
                    <ol style="font-size: 20px">title : ${title}</ol>
                    <ol style="font-size: 20px">content : ${content}</ol>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <p><button type="submit" class="btn btn-dark" id="post-edit-btn">게시글 수정</button></p>
                    <p><button type="submit" class="btn btn-dark" id="post-delete-btn">게시글 삭제</button></p>
                </div>
            </div>
            <div id = "comment-box" style="margin-top: 10px;">
                <div class="" id = "comment-list">
                    <div class="row comment-base-box" id="comment-base-box-${postId}">
                        <div class="col-7" style="border-bottom: solid gray 1px">댓글 내용</div>
                        <div class="col-1" style="border-bottom: solid gray 1px; text-align: right">댓글 작성자</div>
                        <div class="col-2" style="border-bottom: solid gray 1px;">
                               좋아요 개수 : ${likeCount}
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="submit" class="btn btn-dark" id="comment-update-btn" onclick="" style="width: 55px; font-size: 12px">수 정</button>
                            <button type="submit" class="btn btn-dark" id="comment-delete-btn" onclick="deleteComment()" style="width: 55px; font-size: 12px">삭 제</button>
                        </div>
                    </div>
                    <div class="col-md-12 " id="comment-edit-box" style="">
                        <div class="comment-board mt-2" style="width: 80%; float: left">
                            <input class="content form-control col-sm-5" id="input-edit-comment">
                        </div>
                        <div class="d-grid gap-2 d-md-block">
                            <button type="submit" class="btn btn-dark" id="comment-edit-btn" onclick="" style="width: 55px; font-size: 12px;">확 인</button>
                            <button type="submit" class="btn btn-dark" id="comment-edit-cancel-btn" onclick="" style="width: 55px; font-size: 12px;">취 소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-1"></div>
</div>

<script>
    function userInfo() {
        if( document.getElementById('user-box').style.display === 'block'){
            document.getElementById('user-box').style.display = 'none'
        } else {
            document.getElementById('user-box').style.display = 'block'
            document.getElementById('post-box').style.display = 'none'
        }
    }

    function postInfo() {
        if( document.getElementById('post-box').style.display === 'block'){
            document.getElementById('post-box').style.display = 'none'
        } else {
            document.getElementById('post-box').style.display = 'block'
            document.getElementById('user-box').style.display = 'none'
        }
    }

    // ================================ 전체 유저 조회 ================================
    function openEditBox(user_Id) {
        if( document.getElementById('edit-box-'+user_Id).style.display === 'block'){
            document.getElementById('edit-box-'+user_Id).style.display = 'none'
        } else {
            document.getElementById('edit-box-'+user_Id).style.display = 'block'
        }
    }

    // 유저 정보 조회
    $(document).ready(function () {
        getUserInfo();
    });
    function getUserInfo() {
        fetch('/api/admin/user-list', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                $('#user-box').empty()
                for (let i = data.length - 1; i >= 0; i--) {
                    console.log([data[i]])
                    let userRole = data[i].role;
                    let username = data[i].username;
                    let email = data[i].email;
                    let introduction = data[i].introduction;
                    let userId = data[i].id

                    let image;
                    if(data[i].image === null) {
                        image = "/images/img.png"
                    } else {
                        image = data[i].image;
                    }
                    console.log(image)

                    let temp_html = `<div class="row" style="margin-top: 50px">
                                            <div class="col-2" style="border-bottom: solid gray 1px">
                                                <img src="${image}" style="width: 100%; height: 100%">
                                            </div>
                                            <div class="col-8" style="border-bottom: solid gray 1px">
                                                <ol style="font-size: 20px">user-role : ${userRole}</ol>
                                                <ol style="font-size: 20px">username : ${username}</ol>
                                                <ol style="font-size: 20px">email : ${email}</ol>
                                                <ol style="font-size: 20px">introduction : ${introduction}</ol>
                                            </div>
                                            <div class="col-2" style="border-bottom: solid gray 1px; padding-top: 5%" >
                                                <button type="submit" class="btn btn-dark" id="user-edit-btn" onclick="openEditBox(${userId})">유저 프로필 수정</button>
                                                <button type="submit" class="btn btn-dark" id="user-delete-btn" onclick="deleteUser(${userId})">유저 삭제</button>
                                            </div>
                                        </div>
                                        <div id = "edit-box-${userId}" style="margin-top: 10px; display: none">
                                            <div>
                                                <input type="email" class="form-control" id="edit-email-${userId}" placeholder="수정할 Email을 입력해주세요." name = email required/>
                                            </div>
                                            <div style="margin-top: 10px">
                                                <input type="text" class="form-control" id="edit-introduction-${userId}" placeholder="수정할 Introduction을 입력해주세요." name = introduction required/>
                                            </div>
                                            <div style="float: right; margin-top: 5px">
                                                <button type="submit" class="btn btn-dark" id="edit-user-role-admin-btn" onclick="userRoleCheckUSER('${userRole}', ${userId})">ADMIN으로 바꾸기</button>
                                                <button type="submit" class="btn btn-dark" id="edit-user-role-user-btn" onclick="userRoleCheckADMIN('${userRole}', ${userId})">USER로 바꾸기</button>
                                                <button type="submit" class="btn btn-dark" id="edit-submit-btn" onclick="editUserInfo(${userId})">Submit</button>
                                            </div>
                                        </div>`
                    $('#user-box').append(temp_html)
                }
            })
    }
    // 유저 데이터 수정
    function editUserInfo(user_id) {
        let data = {
            email : $('#edit-email-'+user_id).val(),
            introduction : $('#edit-introduction-'+user_id).val()
        }
        console.log(data.email)
        console.log(data.introduction)
        $.ajax({
            type: "PUT",
            url:'/api/admin/profile/'+user_id,
            data: JSON.stringify(data),
            contentType:"application/json; charset=urf-8",
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 유저 정보를 수정했습니다.")
                location.href = '/admin'
            } else {
                alert("유저 정보 수정에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }

    // 유저의 role 바꾸기
    // USER => ADMIN
    function userRoleCheckUSER(role, user_id) {  // 유저 정보 조회
        console.log(role)
        if (role === "ADMIN") {
            alert("이미 해당 유저는 ADMIN role입니다.")
        } else {
            userToAdmin(user_id)
        }
    }
    function userToAdmin(user_id) {
        $.ajax({
            type: "PUT",
            url:'/api/admin/admin-role/'+user_id,
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 유저 정보를 수정했습니다.")
                location.href = '/admin'
            } else {
                alert("유저 정보 수정에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }

    //ADMIN => USER
    function userRoleCheckADMIN(role, user_id) {  // 유저 정보 조회
        console.log(role)
        if (role === "USER") {
            alert("이미 해당 유저는 USER role입니다.")
        } else {
            adminToUser(user_id)
        }
    }

    function adminToUser(user_id) {
        $.ajax({
            type: "PUT",
            url:'/api/admin/user-role/'+user_id,
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 유저 정보를 수정했습니다.")
                location.href = '/admin'
            } else {
                alert("유저 정보 수정에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }

    // 유저 삭제
    function deleteUser(user_id) {
        $.ajax({
            type: "DELETE",
            url:'/api/admin/user-delete/'+user_id,
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 유저 정보를 삭제했습니다.")
                location.href = '/admin'
            } else {
                alert("유저 삭제에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }

    // ================================ 전체 게시글 조회 ================================

    // 모든 게시글 가져오기
    $(document).ready(function () {
        getPostInfo();
    });
    function getPostInfo() {
        fetch('/api/admin/post-list', {
            method: 'GET',
            headers: {'Content-Type': 'application/json'}
        })
            .then(response => response.json())
            .then(data => {
                $('#post-box').empty();
                $('#comment-box').empty();
                for (let i = data.length - 1; i >= 0; i--) {
                    console.log([data[i]])
                    let username = data[i].username;
                    let title = data[i].title;
                    let contents = data[i].contents;
                    let postId = data[i].id;


                    let likeCount;
                    if (data[i].likeCount === null) {
                        likeCount = 0;
                    } else {
                        likeCount = data[i].likeCount;
                    }


                    let image;
                    if (data[i].image === '') {
                        image = "/images/img.png"
                    } else {
                        image = data[i].image;
                    }
                    console.log(image)



                    let temp_html = `<div style="margin-top: 50px">
                                        <div class="row">
                                            <div class="col-2" style="border-bottom: solid gray 1px">
                                                <img src="${image}" style="width: 100%; height: 100%">
                                            </div>
                                            <div class="col-8" style="border-bottom: solid gray 1px">
                                                <ol style="font-size: 20px">작성자     : ${username}</ol>
                                                <ol style="font-size: 20px">게시글 제목 : ${title}</ol>
                                                <ol style="font-size: 20px">내용       : ${contents}</ol>
                                                <ol style="font-size: 20px">좋아요 개수 : ${likeCount}</ol>
                                            </div>
                                            <div class="col-2" style="border-bottom: solid gray 1px; padding-top: 5%">
                                                <p><button type="submit" class="btn btn-dark" id="post-edit-btn" onclick="toEditPost(${postId})">게시글 수정</button></p>
                                                <p><button type="submit" class="btn btn-dark" id="post-delete-btn" onclick="postDelete(${postId})">게시글 삭제</button></p>
                                            </div>
                                        </div>`

                    $('#post-box').append(temp_html)

                    let commentList = data[i].commentList;
                    console.log(commentList)
                    for (let j = commentList.length - 1; j >= 0; j--) {
                        let comment = commentList[j].comment;
                        let userName = commentList[j].username;
                        let commentLikeCount = commentList[j].likeCount;
                        let commentId = commentList[j].id;

                        let temp_html2 = `<div class="comment-base-box" id="comment-base-box-${commentId}" style="margin-top: 10px">
                                            <div class="row">
                                              <div class="col-7" style="border-bottom: solid gray 1px">${comment}</div>
                                              <div class="col-1" style="border-bottom: solid gray 1px; text-align: right">${userName}</div>
                                              <div class="col-2" style="border-bottom: solid gray 1px;">
                                                좋아요 개수: ${commentLikeCount}
                                              </div>
                                              <div class="col-2" style="border-bottom: solid gray 1px; padding-bottom: 5px">
                                                <button type="button" class="btn btn-dark" onclick="updateComment(${commentId})" style="width: 55px; font-size: 12px">수정</button>
                                                <button type="button" class="btn btn-dark" onclick="deleteComment(${commentId})" style="width: 55px; font-size: 12px">삭제</button>
                                              </div>
                                            </div>
                                            <div class="col-md-12 comment-edit-box" id="comment-edit-box-${commentId}" style="display: none;">
                                              <div class="comment-board mt-2" style="width: 80%; float: left">
                                                <input class="content form-control col-sm-5" id="input-edit-comment-${commentId}">
                                              </div>
                                              <div style="float: right; margin-top: 5px; padding-right: 100px">
                                                <button type="button" class="btn btn-dark" onclick="editComment(${commentId})" style="width: 55px; font-size: 12px;">확인</button>
                                                <button type="button" class="btn btn-dark" onclick="cancelEditBtn(${commentId})" style="width: 55px; font-size: 12px;">취소</button>
                                              </div>
                                            </div>
                                          </div>`

                        $('#post-box').append(temp_html2);
                    }
                }
            })
    }

    //게시글 수정 => 수정페이지로 이동
    function toEditPost(post_id) {
        alert("수정 페이지로 이동합니다.")
        window.location.href = `/post/update/${post_id}`;
    }

    //게시글 삭제
    function postDelete(post_id) {
        $.ajax({
            type: "DELETE",
            url:'/api/post/'+post_id,
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 게시글을 삭제했습니다.")
                location.href = '/admin'
            } else if (res.status === 400) {
                alert("게시글 삭제에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }

    // 댓글 수정
    function updateComment(comment_id) {
        document.getElementById('comment-base-box-'+comment_id).style.marginBottom = "100px"
        document.getElementById('comment-edit-box-'+comment_id).style.display = "block";
    }

    function cancelEditBtn(comment_id) {
        document.getElementById('comment-edit-box-'+comment_id).style.display = "none";
        document.getElementById('comment-base-box-'+comment_id).style.marginBottom = "0px"
    }

    function editComment(comment_id) {
        let data = {
            comment : $('#input-edit-comment-'+comment_id).val()
        }
        console.log(data)
        $.ajax({
            type: "PUT",
            url:'/api/comment/'+comment_id,
            data: JSON.stringify(data),
            contentType:"application/json; charset=urf-8",
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 댓글을 수정했습니다.")
                location.href = '/admin'
            } else if (res.status === 400) {
                alert("댓글 수정에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }


    // 댓글 삭제
    function deleteComment(comment_id) {
        console.log(comment_id)
        $.ajax({
            type: "DELETE",
            url:'/api/comment/'+comment_id,
            dataType:"json"
        }).done(function(res){
            console.log(res)
            console.log(res.status)
            if (res.status === 200) {
                alert("성공적으로 댓글을 삭제했습니다.")
                location.href = '/admin'
            } else if (res.status === 400) {
                alert("댓글 삭제에 실패했습니다.")
            }
        }).fail(function (request, status, error){
            console.log(status)
            console.log(error)
            alert("에러가 발생했습니다.");
        });
    }
</script>
</body>
</html>