<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>오늘 밖에서 뭐하지? | 메인</title>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <link href="/css/style.css" rel="stylesheet">
  <script>
      window.onload = function() {
          var login_btn = document.getElementById("login-btn");
          var signup_btn = document.getElementById("signup-btn");
          var logout_btn = document.getElementById("logout-btn");
          var mypage_btn = document.getElementById("myPage-btn");
          var newpost_btn = document.getElementById("newpost-btn");
          var update_btn = document.getElementById("update-btn");
          var delete_btn = document.getElementById("delete-btn");
          var welcome = document.getElementById("welcome");

          // "Authorization" 쿠키가 존재하는 경우 로그인 상태
          if (checkAuthorizationCookie()) {
              logout_btn.style.display = "block";
              mypage_btn.style.display = "block";
              newpost_btn.style.display = "block";
              welcome.style.display = "block";

              login_btn.style.display = "none";
              signup_btn.style.display = "none";
              update_btn.style.display = "none";
              delete_btn.style.display = "none";

          } else { // 로그인 상태가 아닌 경우
              logout_btn.style.display = "none";
              mypage_btn.style.display = "none";
              newpost_btn.style.display = "none";
              welcome.style.display = "none";

              login_btn.style.display = "block";
              signup_btn.style.display = "block";
          }

          function checkAuthorizationCookie() {
              var cookies = document.cookie.split(";");

              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();

                  // "Authorization" 쿠키가 존재하는 경우 true 반환
                  if (cookie.startsWith("Authorization")) {
                      return true;
                  }
              }
              // "Authorization" 쿠키가 존재하지 않는 경우 false 반환
              return false;
          }
      }

      let idx = {
          init: function() {
              $("#logout-btn").on("click", () => {
                  this.logout();
              });
          },

          logout: function() {
              $.ajax({
                  type: "POST",
                  url: "/api/user/logout",
                  success: function() {
                      alert("로그아웃 성공");
                      document.location.reload();
                  },
                  error: function() {
                      alert("로그아웃 중 오류가 발생했습니다.");
                  }
              });
          }
      }
      idx.init();

      $(document).ready(function () {
          getPost();
      });
      function getPost() {
          fetch('/api/posts', {
              method: 'GET',
              headers: {'Content-Type': 'application/json'}
          })
              .then(response => response.json())
              .then(data => {
                  $('#post-list').empty()
                  for (let i = data.length - 1; i >= 0; i--) {
                      console.log([data[i]])
                      let title = data[i].title;
                      let contents = data[i].contents;
                      let userName = data[i].username;
                      let modifiedAt = data[i].modifiedAt;

                      let image;
                      if(data[i].image === '') {
                          image = "/images/img.png"
                      } else {
                          image = data[i].image;
                      }

                      let postId = data[i].id

                      let temp_html = `<a href = post/detail/${postId} class="col">
                                        <div class="card feed border-0">
                                            <img src="${image}" class="card-img-top img-fluid" alt="sampleImage" style="height: 14rem; overflow-clip: margin;">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold">${title}</h5>
                                                <p class="card-text text-truncate">${contents}</p>
                                                <p class="card-text fw-bold">${userName}</p>
                                                <p class="card-text text-muted">${modifiedAt}</p>
                                            </div>
                                        </div>
                                      </a>`
                      $('#post-list').append(temp_html)
                  }
              })
      }
  </script>
</head>
<body>
<!-- 네비게이션 바 start -->
<nav class="bg-transparent navbar navbar-expand-lg">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand fs-4 fw-bold me-auto" href="/">밖에서 오늘 뭐하지?</a>
      <div class="none px-5 position-absolute start-40" id="welcome"><span class="fw-bold" id="username" th:text="${username}"></span> 님 접속을 환영합니다.</div>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-bold position-absolute start-85">
        <li class="nav-item"><a class="nav-link active" href="/post/new-post" id="newpost-btn">글작성</a></li>
        <li class="nav-item"><a class="nav-link active none" onclick="updatePost()" id="update-btn" >수정</a></li>
        <li class="nav-item"><a class="nav-link active none" onclick="deletePost()" id="delete-btn" >삭제</a></li>
        <li class="nav-item"><a class="nav-link active" href="/api/mypage" id="myPage-btn">My page</a></li>
        <li class="nav-item"><a class="nav-link active" href="/api/user/login" id="login-btn">Login</a></li>
        <li class="nav-item"><a class="nav-link active none" href="/api/user/logout" id="logout-btn">Logout</a></li>
        <li class="nav-item"><a class="nav-link active" href="/api/user/signup" id="signup-btn">Signup</a></li>
        <li class="nav-item"><a class="nav-link active text-warning" href="/admin" id="admin-btn">Admin</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mb-5">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4" id="post-list">
    <!-- 게시글 동적 생성 -->
  </div>
</div>
<footer style="height: 200px; border-top: solid 1px #d9d9d9;" class="container-fluid footer fw-bold fs-3 justify-content-center d-flex p-5">동행조 화이팅!</footer>
</body>
</html>