<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="data:,">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
          crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <title>글 작성</title>

</head>
<header class="d-flex justify-content-between align-items-middle bg-transparent p-1">
  <div class="h1 fs-3 px-4 pt-2 fw-bold"><a href="/outsideworld">밖에서 오늘 뭐하지?</a></div>
  <div class="row">
    <div class="col-md-12 board">
      <span class="info-name fw-bold fs-3 ms-3" id="userName"></span>
      <span class="fw-bold fs-6">님의 접속을 환영합니다</span>
    </div>
  </div>
  <div class="is-login-box p-2" id="is-login-box" style="display: none;">
    <a href="/post/new-post" class="ms-4 fs-4"><i class="fa-solid fa-pen-to-square fa"></i>글쓰기</a>
    <a href="/api/mypage"><i class="fa-solid fa-user-pen fa-lg ms-4"></i>정보수정</a>
    <a type="button" onclick="logout()" class="d-inline"><i class="fa-solid fa-person-walking-arrow-right fa-xl ms-4"></i>로그아웃</a>
  </div>
  <div class="not-login-box m-3" id="not-login-box">
    <a href="/api/user/login"><i class="fa-solid fa-user-check fa-lg ms-4"></i>로그인</a>
    <a href="/api/user/signup"><i class="fa-solid fa-user-plus fa-lg ms-4"></i>회원가입</a>
  </div>
</header>
<div class="container">
  <div class="mb-5 fs-2 fw-bold">글 작성</div>

    <div class="row mt-4">
      <div class="col-md-12">
        <input type="text" id="title" class="form-control shadow border-0 p-3" placeholder="제목을 입력하세요">
        <input class="form-control col-sm-5 mt-2 shadow border-0 p-3" id = "content" rows="15" placeholder="내용을 입력하세요">
        <input type="text" class="form-control col-sm-5 mt-2 shadow border-0 p-3" id ="image" placeholder="이미지 URL을 입력하세요">
      </div>
    </div>
    <div class="row my-5">
      <div class="col-md-12 d-flex justify-content-end">
        <div class="align-items-center d-flex">
          <button class="btn btn-dark" value="updatePost" id="btn-newPost">Submit</button>
          <button class="btn btn-outline-dark ms-2" value="deletePost">Delete</button>
        </div>
      </div>
    </div>
</div>

<footer style="height: 200px; border-top: solid 1px #d9d9d9;" class="footer fw-bold fs-3 d-flex justify-content-center align-items-center mt-5">동행조 화이팅!</footer>

<script>


  let idx = {
    init: function (){
      $("#btn-newPost").on("click", () => {
        this.newPost();
      });
    },

    newPost: function () {
      let data = {
        title : $('#title').val(),
        contents : $('#content').val(),
        image : $('#image').val()
      };
      console.log(data)

      fetch(`/api/post`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      })
              .then(response => response.json())
              .then(data => {
                alert("글 작성 성공");
                location.href = "/"
              })
              .catch(error => {
                console.error("댓글 작성 실패:", error);
              }); //ajax 통신을 이용해서 파라미터를 json으로 변경하여 insert 요청
    }
  }
  idx.init();

</script>
</body>
</html>