<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
          integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  <link href="/css/style.css" rel="stylesheet">
  <title>오늘 밖에서 뭐하지? | 비밀번호 확인</title>
</head>
<body>
<!-- 네비게이션 바 start -->
<nav class="navbar bg-light mb-5">
  <div class="container-fluid d-flex mx-3">
    <a class="navbar-brand" href="/">
      <div class="fs-4 fw-bold">밖에서 오늘 뭐하지?</div>
    </a>
    <div class="d-flex justify-content-end">
      <a href="/post/new-post"><button type="submit" class="btn btn-dark none" id="newpost-btn">글작성</button></a>
      <button type="submit" class="btn btn-dark ms-2 none" id="update-btn" onclick="updatePost()">수정</button>
      <button type="submit" class="btn btn-dark ms-2 none" id="delete-btn" onclick="deletePost()">삭제</button>
      <a href="/"><button type="submit" class="btn btn-dark ms-2" id="home-btn">Home</button></a>
      <a href="/api/mypage"><button type="submit" class="btn btn-dark ms-2" id="myPage-btn">My page</button></a>
      <a href="/api/user/login"><button type="submit" class="btn btn-dark ms-2 none" id="login-btn">Login</button></a>
      <a href="/"><button type="submit" class="btn btn-dark ms-2" id="logout-btn">Logout</button></a>
      <a href="/api/user/signup"><button type="submit" class="btn btn-dark ms-2 none" id="signup-btn">SignUp</button></a>
    </div>
  </div>
</nav>

<div class="container mb-5">
  <div class="mb-5 fs-3 fw-bold">비밀번호 확인</div>
  <div class="row mt-4 d-flex justify-content-center">
    <form onsubmit="return false;" class="col-6">
      <input type="password" name="password" id="password"  placeholder="비밀번호 확인" class="form-control mt-3 shadow border-0 p-3"/>
      <button id="profileupdate" value="회원 정보 수정" onclick="onPassword()" class="btn btn-dark col-12 p-3 my-3">비밀번호 확인</button>
    </form>
  </div>
</div>
<footer style="height: 200px; border-top: solid 1px #d9d9d9;" class="container-fluid footer fw-bold fs-3 justify-content-center d-flex p-5">동행조 화이팅!</footer>
</body>
<script>
  function onPassword() {
    let password = $('#password').val();

    $.ajax({
      type: "POST",
      url: `/api/profile/password`,
      contentType: "application/json",
      data: JSON.stringify({ password: password }),
      success: function(response, status, xhr) {
        // 요청이 성공한 경우 처리할 로직을 작성합니다.
        console.log("POST 요청이 성공했습니다.");

        // 서버 응답이 성공적으로 왔을 때 처리
        if (xhr.status === 200) {
          // 서버의 상태 코드가 200(성공)인 경우
          Swal.fire({
            icon: 'success',                         // Alert 타입
            title: '비밀번호 일치!',        // Alert 제목
            text: "비밀번호 수정으로 이동합니다",
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = "http://localhost:8080/api/profile/passwordupdate";
            }
          });
        } else {
          // 다른 상태 코드에 따라 처리
          Swal.fire({
            icon: 'error',                         // Alert 타입
            title: '비밀번호가 일치하지 않습니다'        // Alert 제목
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.href = "http://localhost:8080/api/mypage";
            }
          });
        }
      },
      error: function(xhr, status, error) {
        // 요청이 실패한 경우 처리할 로직을 작성합니다.
        console.log("POST 요청이 실패했습니다.");
        // console.log(xhr.responseText);
        // 다른 상태 코드에 따라 처리
        Swal.fire({
          icon: 'error',                         // Alert 타입
          title: '비밀번호가 일치하지 않습니다'        // Alert 제목
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = "http://localhost:8080/api/mypage";
          }
        });
      }
    });
  }

</script>
</html>